<a href="https://colab.research.google.com/github/SarahAlmashagbehh/Shai-Assignment/blob/main/Copy_of_Numpy_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [ ]:
import numpy as np

#### Create an array of 10 zeros

In [ ]:
zeros_array=np.zeros(10)
print(zeros_array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### Create an array of 10 ones

In [ ]:
ones_array=np.ones(10)
print(ones_array)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [ ]:
fives_array=np.full(10,5)
print(fives_array)

[5 5 5 5 5 5 5 5 5 5]

#### Create an array of the integers from 10 to 50

In [ ]:
ten_fifty=np.arange(10,51)
print(ten_fifty)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [ ]:
even_tentofifty=np.arange(10,51,2)
print(even_tentofifty)

[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]

##find the memory size of any array

In [ ]:
print(fives_array.nbytes)

80

#### Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
arr=np.arange(0,9)
matrixby3=np.reshape(arr,(3,3))
print(matrixby3)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [ ]:
arr2=np.eye(3)
print(arr2)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [ ]:
random_num=np.random.rand()
print(random_num)

array([0.31063328])

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
rand_array = np.random.randn(25)
print(rand_array)

[ 0.27731295  0.11251901 -0.4265048   0.28476212 -0.54805806 -1.33397934
 -1.69000074  0.43574892 -0.4951158  -0.05329266 -0.14859008  0.9917645
 -0.01582031  1.23195004  0.2959986  -1.8390921  -0.50656097 -0.86087817
 -1.4264756  -2.26049446 -0.49008345  0.31391313  0.20032658 -0.44554598
  1.38617355]

#### Create the following matrix:

In [ ]:
mat=(np.arange(1,101,dtype='float')/100 ).reshape((10,10))
print(mat)

[[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 ]
 [0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 ]
 [0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 ]
 [0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 ]
 [0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 ]
 [0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 ]
 [0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 ]
 [0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]
 [0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 ]
 [0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.  ]]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [ ]:
lin_array = np.linspace(0, 1, 20)
print(lin_array)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
#shape 3,4
output1= np.array([[12, 13, 14, 15],
                         [17, 18, 19, 20],
                         [22, 23, 24, 25]])
print(output1)

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
#to get element 20 from the above matrix
output1[1,3]

20

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
output2 = np.array([[2], [7], [12]])
output2

array([[ 2],
       [ 7],
       [12]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
arr=np.arange(21,26)
arr

array([21, 22, 23, 24, 25])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [ ]:
my_arr=np.array([list(range(16,21)),list(range(21,26))])
my_arr

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

#### Get the sum of all the values in mat

In [ ]:
total_sum=np.sum(mat)
total_sum

325

#### Get the standard deviation of the values in mat

In [ ]:
std=np.std(mat)
std

7.211102550927978

#### Get the sum of all the columns in mat

In [ ]:
sum_col=np.sum(mat,axis=0)
sum_col

array([55, 60, 65, 70, 75])

####Create a 10*10  matrix with 1 on the border and 0 inside

In [ ]:
output=np.ones((10,10))
inner=np.zeros((8,8))
output[1:9,1:9]=inner
output

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

#### find common values between two arrays

In [ ]:
x1 = np.array([0, 2, 2, 2, 4, 5, 1, 4, 8, 5])
x2 = np.array([2, 2, 3, 4, 7, 4, 6, 9, 4, 8])
com_val=np.intersect1d(x1,x2)
com_val

array([2, 4, 8])

####You can use flatten to flatten your array into a 1D array

In [ ]:
x = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [ ]:
flat_mat=x.flatten()
flat_mat

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

# Great Job!